<% patient = @patients.first %>
<h1><%= [ patient["family_name"], patient["given_name"] ].join(', ') %></h1>

<h4>Basic Info</h4>

<p>
  Birth date: <%= patient["birth_date"] %>
</p>

<h4>Conditions</h4>
<% unless @conditions.empty? %>
  <table class="table table-condensed table-striped conditions">
    <tr>
      <th>Condition</th>
      <th>Location</th>
      <th>Onset Date</th>
    </tr>
  	<%= render :partial => "condition", :collection => @conditions %>
  </table>
<% else %>
  <p>No data</p>
<% end %>

<h4>Medications</h4>
<% unless @medications.empty? %>
  <table class="table table-condensed table-striped medications">
    <tr>
      <th>Type</th>
    </tr>
    <%= render :partial => "medication", :collection => @medications %>
  </table>
<% else %>
  <p>No data</p>
<% end %>

<h4>Observations</h4>
<% unless @observations.empty? %>
  <table class="table table-condensed table-striped observations">
    <tr>
      <th>Type</th>
      <th>Value</th>
    </tr>
    <%= render :partial => "observation", :collection => @observations %>
  </table>
<% else %>
  <p>No data</p>
<% end %>

<h4>Encounters</h4>
<% unless @encounters.empty? %>
  <table class="table table-condensed table-striped encounters">
    <tr>
      <th>Type</th>
      <th>Reason</th>
      <th>Location</th>
      <th>Date</th>
    </tr>
    <%= render :partial => "encounter", :collection => @encounters %>
  </table>
<% else %>
  <p>No data</p>
<% end %>
