<% patient = @patients.first %>
<% unless patient.nil? %>
  <div class="row">
    <div class="col-xs-4 organization">
      <%= image_tag(@organization.logo, class: "large") %>
    </div>
    <div class="col-xs-8 patient">
      <h1><%= [ patient["family_name"], patient["given_name"] ].join(', ') %></h1>
      <p><%= patient["gender"] %>, <%= patient["age"] %></p>
      <p>DOB: <%= patient["birth_date"] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr />

      <h4>Conditions</h4>
      <% unless @conditions.nil? %>
        <% unless @conditions.empty? %>
          <table class="table table-condensed table-striped conditions">
            <tr>
              <th>Condition</th>
              <th>Location</th>
              <th>Onset Date</th>
            </tr>
          	<%= render :partial => "condition", :collection => @conditions %>
          </table>
        <% else %>
          <p>No data</p>
        <% end %>
      <% else %>
        <p class="warn">Not authorized to see this data</p>
      <% end %>

      <h4>Medications</h4>
      <% unless @medications.nil? %>
        <% unless @medications.empty? %>
          <table class="table table-condensed table-striped medications">
            <tr>
              <th>Type</th>
            </tr>
            <%= render :partial => "medication", :collection => @medications %>
          </table>
        <% else %>
          <p>No data</p>
        <% end %>
      <% else %>
        <p class="warn">Not authorized to see this data</p>
      <% end %>

      <h4>Observations</h4>
      <% unless @observations.nil? %>
        <% unless @observations.empty? %>
          <table class="table table-condensed table-striped observations">
            <tr>
              <th>Type</th>
              <th>Date</th>
              <th>Value</th>
            </tr>
            <%= render :partial => "observation", :collection => @observations %>
          </table>
        <% else %>
          <p>No data</p>
        <% end %>
      <% else %>
        <p class="warn">Not authorized to see this data</p>
      <% end %>
    </div>
  </div>
<% end %>
